/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Andrea";
  src: url("fonts/Andrea.ttf") format("truetype");
}

@font-face {
  font-family: "Mathilda"; /* Name of the font */
  src: url("fonts/MathildaDEMO.otf") format("opentype"); /* Path to your OTF file */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Penna";
  src: url("fonts/penna.otf") format("opentype");
}

@font-face {
  font-family: "Coco";
  src: url("fonts/Coco-Light.ttf") format("opentype");
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
}

/* Fixed Background Image Section */
.hero {
  height: 100vh;
  background-image: url("images/kissing.jpg"); /* Replace with your image */
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Keeps the background fixed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .hero {
    background-attachment: scroll;
  }
}

.hero-content {
  position: absolute;
  top: 50%; /* Position 1/3 of the way down */
  left: 50%;
  transform: translate(-50%, -50%); /* Center the content horizontally */
  font-family: "Mathilda", sans-serif;
}

.hero h1 {
  white-space: nowrap;
  padding: 0;
  margin: 0;
  font-family: "Andrea", sans-serif;
  font-size: 2rem;
}

.hero p {
  font-size: 1.5rem;
}

/* Content Sections */
.content {
  padding: 20px 20px;
  text-align: center;
  height: 400px;
  background-color: #fbefce; /* Slightly transparent white */
}

.content:nth-child(odd) {
  background-color: #fff;
}

h1 {
  font-size: 2rem;
  font-family: "Coco", sans-serif;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  font-family: "Coco", sans-serif;
  margin-bottom: 20px;
}

p {
  font-size: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.join-us {
  padding: 20px 20px;
  text-align: center;
  background-color: #efd58c;
  padding-bottom: 100px;
}

.the-wedding {
  padding: 20px 20px;
  text-align: leading;
  background-color: #fff;
  padding-top: 100px;
}

.photo-gallery {
  padding: 0 40px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin: -75px 0;
}

.photo-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
  position: center;
}

.the-wedding-layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Align items to the top */
}

.the-wedding-image-container {
  width: 40%;
  margin-right: 20px; /* Space between the image and the list */
}

.the-wedding-image-container img {
  width: 100%;
  height: auto; /* Keep image aspect ratio */
  object-fit: cover;
}

.the-wedding-numbered-list {
  list-style-position: inside; /* Makes list numbers inside the container */
  font-size: 1.2em;
}

.the-wedding-numbered-list li {
  margin-bottom: 10px;
  list-style-type: none;
}

#map {
  height: 60vw;
  margin-top: 20px;
}

.gmp-map {
  height: 60vw;
  margin-top: 20px;
}

.getting-there {
  padding: 20px 20px;
  background-color: #efd58c;
}

.square-button {
  font-size: 1rem;
  font-family: "Coco", sans-serif;
  font-weight: bold;
  display: inline-block;
  background-color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); /* Small shadow */
  margin-bottom: 20px;
}

.full-width-image {
  width: 100vw; /* Full width of the viewport */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove inline spacing */
}

.triple-image-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.triple-image-container img {
  width: calc(
    33.33% - 20px
  ); /* Distributes space between 3 images, with 20px total padding between them */
  object-fit: cover;
}

.footer {
  padding: 20px;
  background-color: #efd58c;
}
