<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lauren and Nick's Wedding</title>
    <link rel="stylesheet" href="static/styles.css" />
  </head>
  <body>
    <!-- Main Section with the Background Image -->
    <section class="hero">
      <div class="hero-content">
        <h1>Lauren and Nick</h1>
        <p>Geneva, New York</p>
        <p>July 5th, 2025</p>
      </div>
    </section>

    <!-- Content Sections -->

    <section id="section1" class="join-us">
      <h1>We hope you can make it!</h1>

      <button class="square-button" disabled>RSVP (Coming soon)</button>
    </section>

    <div class="photo-gallery">
      <img id="photo" src="static/images/walking.jpg" />
    </div>

    <div></div>
    <section id="section2" class="the-wedding">
      <h1>The Wedding Weekend</h1>

      <div class="the-wedding-layout">
        <div class="the-wedding-image-container">
          <img src="static/images/flower.jpg" />
        </div>
        <ol class="the-wedding-numbered-list">
          <li>
            <h2>Welcome Dinner</h2>
            <p>Brewery Ardennes</p>
            <p>Fri July 5th, 6 pm</p>
          </li>
          <li>
            <h2>The Wedding</h2>
            <p>Geneva on the Lake</p>
            <p>Saturday, July 5th</p>
            <p>Reception: 1 pm</p>
            <p>Ceremony: 3 pm</p>
            <p>Dinner: 5 pm</p>
            <p>Bonfire: 9 pm</p>
          </li>
          <li>
            <h4>Farewell Brunch</h4>
            <p>Geneva on the Lake</p>
            <p>Sun July 7th, 11 am</p>
          </li>
        </ol>
      </div>
    </section>

    <section class="getting-there">
      <h1>Getting There</h1>
      <p>1001 Lochland Road Geneva,</p>
      <p>New York 14456</p>
      <div id="map"></div>
    </section>

    <section class="triple-image-container">
      <img src="static/images/flower.jpg" alt="Portrait 1" />
      <img src="static/images/flower.jpg" alt="Portrait 2" />
      <img src="static/images/flower.jpg" alt="Portrait 3" />
    </section>

    <section class="footer">
      <h3>Email us with any questions</h3>
      <ol class="the-wedding-numbered-list">
        <li>
          <a href="mailto:wedding@njrom.com">wedding@njrom.com</a>
        </li>
        <li>
          <div id="countdown"></div>
        </li>
      </ol>
    </section>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpivphqwgkGLz3NDpop4bEWpw7T-n2V2E&callback=initMap"
      async
      defer
    ></script>
    <script src="static/script.js"></script>
  </body>
</html>
