<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lauren and Nick's Wedding</title>
    <link rel="stylesheet" href="static/styles.css" />
  </head>
  <body>
    <!-- Main Section with the Background Image -->
    <section class="hero">
      <div class="hero-content">
        <h1>Lauren and Nick</h1>
        <p>Geneva, New York</p>
        <p>July 5th, 2025</p>
      </div>
    </section>

    <!-- Content Sections -->

    <section id="section1" class="join-us">
      <h1>We hope you can make it!</h1>

      <p>
        Here is some general info on what to expect on the wedding weekend. More
        details will be provided once invitations are sent out
      </p>
    </section>

    <div class="photo-gallery">
      <img id="photo" src="static/images/walking.jpg" />
    </div>

    <div></div>
    <section class="the-wedding">
      <h1>The Wedding Weekend</h1>
      <h2>Friday, July 4th</h2>
      <div class="timeline">
        <div class="timeline--block">
          <div class="timeline--dot"></div>
          <div class="timeline--time">TBD</div>
          <div class="timeline--info">
            <div class="timeline--info--title">Welcome Dinner</div>
            <div class="timeline--info--secondary">
              Intended for family and friends traveling in from out of state.
              Details on location and time are still TBD.
            </div>
          </div>
        </div>
      </div>
      <h2>Saturday, July 5th</h2>
      <div class="timeline">
        <div class="timeline--block">
          <div class="timeline--dot"></div>
          <div class="timeline--time">1:00 pm</div>
          <div class="timeline--info">
            <div class="timeline--info--title">Reception</div>
            <div class="timeline--info--secondary">
              Please arrive by 3pm and enter the venue up the stairs to the left
              of the building.
            </div>
          </div>
        </div>
        <div class="timeline--block">
          <div class="timeline--dot"></div>
          <div class="timeline--time">3:00 pm</div>
          <div class="timeline--info">
            <div class="timeline--info--title">Ceremony</div>
          </div>
        </div>
        <div class="timeline--block">
          <div class="timeline--dot"></div>
          <div class="timeline--time">5:00 pm</div>
          <div class="timeline--info">
            <div class="timeline--info--title">Dinner</div>
            <div class="timeline--info--secondary">On the roof</div>
          </div>
        </div>
        <div class="timeline--block">
          <div class="timeline--dot"></div>
          <div class="timeline--time">9:00 pm</div>
          <div class="timeline--info">
            <div class="timeline--info--title">Bonfire</div>
            <div class="timeline--info--secondary">
              What will it be?! Nobody knows.
            </div>
          </div>
        </div>
      </div>

      <h2>Sunday, July 6th</h2>
      <div class="timeline">
        <div class="timeline--block">
          <div class="timeline--dot"></div>
          <div class="timeline--time">TBD</div>
          <div class="timeline--info">
            <div class="timeline--info--title">Farewell Brunch</div>
            <div class="timeline--info--secondary">Details are still TBD.</div>
          </div>
        </div>
      </div>
    </section>

    <section class="getting-there">
      <h1>Getting There</h1>
      <a href="https://maps.app.goo.gl/XiSovDvVpBipzeWu5">
        1001 Lochland Road Geneva,<br />
        New York 14456
      </a>
      <div id="map"></div>
    </section>

    <section class="triple-image-container">
      <img src="static/images/flower.jpg" alt="Portrait 1" />
      <img src="static/images/flower.jpg" alt="Portrait 2" />
      <img src="static/images/flower.jpg" alt="Portrait 3" />
    </section>

    <section class="registry">
      <h1>Registry</h1>
      <p>
        Details on our registry are to be confirmed still. When you recieve your
        invitation return here for more info.
      </p>
    </section>

    <section class="questions">
      <h1>FAQ</h1>
      <h2>Will the wedding have tasty food?</h2>
      <p>Only the tastiest food will be served.</p>

      <h2>What is the dress code?</h2>
      <p>Shoes and shirts or no service.</p>

      <h2>Why do you have a $900 litter robot on your registry?</h2>
      <p>Shut up, you are uninvited.</p>
    </section>

    <section class="footer">
      <h2>Email us if you have any questions</h2>
      <ol class="the-wedding-numbered-list">
        <li>
          <a href="mailto:wedding@njrom.com">wedding@njrom.com</a>
        </li>
        <li>
          <div id="countdown"></div>
        </li>
      </ol>
    </section>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpivphqwgkGLz3NDpop4bEWpw7T-n2V2E&callback=initMap"
      async
      defer
    ></script>
    <script src="static/script.js"></script>
  </body>
</html>
